rasters
samples
sb_samples
*.model
*.h5
*.labels
*.l
*.npy
*.pyc
simple_test.py
*.png
*.zip
*.gr?
*.hdr
*.gri.aux.xml
*.pickle
*_samples_*/
tmp/
old_files/
old_logs/
py_backup/
results/
new_logs/
new_maps/
